<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/layout.css">
    <title>Show</title>
</head>
<body>
    <h1>Search Results</h1>
    <section>
        <ol>
            <%books.forEach(book =>{%>
            <li>
                <p class="img"><img src=<%= book.image_url %>></p>
                <p class="title"><%= book.title %></p>
                <p class="authors"><%= book.authors%></p>
                <p class="description"><%= book.description%></p>
                <p><%= book.isbn%></p>
                <p><%= book.bookshelf%></p>
                <form action="/books" method="post">
                    <input type="hidden" name="title" value="<%- book.title %>">
                    <input type="hidden" name="authors" value="<%- book.authors %>">
                    <input type="hidden" name="isbn" value="<%- book.isbn%>">
                    <input type="hidden" name="image" value="<%-  book.image_url %>">
                    <input type="hidden" name="description" value="<%- book.description %>">
                    <button type="submit">Add to bookshelf</button>
                </form>
            </li>
            <% }) %>
        </ol>
    </section>
</body>
</html>

